<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ConnectionString"
         value="Data Source=localhost;Initial Catalog=Pubs;User ID=sa" />
    <add key="SelectSales" value="SELECT * FROM Sales" />
  </appSettings>

  <system.web>
    <!-- Configuration sections go here. -->
  </system.web>

</configuration>
